@import './../../style/mixins.scss';
@import './../../style/colors.scss';

header {
  position: absolute;
  z-index: 999;
  width: 100%;
  @include d-flex($jc: center, $g: 0px);
  padding: 1.5rem 3.5rem;
}

.main {
  @include d-flex();
  @include max-content()
}

.mobile-header {
  @include d-flex($jc: space-between);
  width: 100%;
  padding: 0 1rem;
}

.mobile-logo {
  width: 3.5rem;
}

.mobile-menu {
  @include cursor();
  width: 2rem;
}

.desktop-logo {
  width: 5rem;
}

.menu-links {
  width: 100%;
  @include d-flex($jc: space-evenly);
  > div a {
    position: relative;
    z-index: 20;
    @include writing($fw: 700, $c: $white);
  }
}

.link-content {
  @include cursor();
  @include d-flex();
  .about-me-frame {
    @include frame($p: absolute, $md: bottom, $mv: 60%, $mt: 61%, $ms: 200% 500%, $mp: 0 100%, $v: hidden);
  }
  .skills-frame {
    @include frame($p: absolute, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 100% 100%, $v: hidden);
  }
  .projects-frame {
    @include frame($p: absolute, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 100% 100%, $v: hidden);
  }
  .contact-frame {
    @include frame($p: absolute, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 100% 100%, $v: hidden);
  }
}

.link-content:hover { 
  .about-me-frame {
  @include frame-hover($mp: 100% 50%);
  }
  .skills-frame {
    @include frame-hover($mp: 0 0);
  }
  .projects-frame {
    @include frame-hover($mp: 0 0);
  }
  .contact-frame {
    @include frame-hover($mp: 0 0);
  }
}

.language-wrapper {
  @include d-flex($g: 1rem);
  > div {
    @include d-flex($jc:none);
    position: relative;
  }
}

.language-content {
  @include d-flex();
  > span {
    @include writing($c:$white);
    @include cursor();
    position: relative;
    z-index: 999;
  }
}

.english-frame {
  @include frame($p: absolute, $md: top left, $mv: 50%, $mt: 51%, $ms: 200% 200%, $mp: 0 0, $v: hidden);
}

.language-content:hover .english-frame {
  @include frame-hover($mp: 100% 100%);
}

.german-frame {
  @include frame($p: absolute, $md: bottom right, $mv: 50%, $mt:51%, $ms: 200% 200%, $mp: 100% 100%, $v: hidden);
}

.language-content:hover .german-frame {
  @include frame-hover($mp: 0 0);
}

.selected {
  @include writing($c:$orange !important);
}

.scrollball {
  position: absolute;
  transition: transform 0.3s ease; 
}

.scroll-left {
  transform: translateX(0%);
}

.scroll-right {
  transform: translateX(100%);
}

@media (max-width: 940px) {
  header {
    padding: 1rem 0;
  }
}