@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  flex-direction: column;
  background-image: url('./../../../assets/project_images_icons/background_images/background_bottom.png');
  background-position: top;
  background-size: cover;
}

.main {
  gap: 7rem;
  padding: 7rem 4rem 0;
  color: white;
  > div {
    width: 50%;
  }
}

.sticker-mobile {
  position: relative;
  left: 12.5rem;
  background-image: url('./../../../assets/project_images_icons/stickers/orange.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 11rem !important;
  height: 11rem !important;
}

.contact-me-wrapper {
  @include d-flex($g: 3rem);
  flex-direction: column;
  > div:nth-child(1) {
    @include d-flex($ai: none, $g: 1rem);
    flex-direction: column;
    width: 100%;
    > p {
      @include writing($fs: 1.2rem, $fw: 500, $c: $white);
    } > span {
      @include writing($fs: 4rem, $fw: 700, $c: $white);
      word-break: break-word;
    }
  } 
  > div:nth-child(2) > span {
    @include d-flex($g: 1rem);
    @include writing($fs: 1.2rem !important, $fw: 400 !important, $c: $white);
  } 
  > div:nth-child(3) {
    @include d-flex($jc: end);
    width: 100%;
  }
}

.contact-me-animation {
  @include frame($p: none, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}

.email-wrapper {
  @include d-flex($jc: none, $ai: end);
  flex-direction: column;
}

.sticker-desktop {
  position: relative;
  top: 2.2rem;
  right: 0;
  background-image: url('./../../../assets/project_images_icons/stickers/orange.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 11rem;
  height: 11rem;
}

.sticker-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    @include writing($fs: 0.7rem, $fw: 600, $c: $black);
    position: absolute;
    top: 4.7rem;
    transform-origin: center 12px;
  }
  > img {
    width: 5em;
    position: relative;
    transform: rotate(20deg);
  }
}

form {
  @include d-flex($jc: none, $ai: none, $g: 3rem);
  flex-direction: column;
  width: 100%;
  
}

.inputs-wrapper {
  > div {
    @include d-flex($jc: none, $ai: none, $g: 0.5rem);
    flex-direction: column;
    > label {
      @include writing($fs: 1.5rem, $fw: 500, $c: $white);
      &:hover{
        color: $orange;
      }
    }
    > input, textarea {
      @include writing($fs: 1.1rem, $fw: 400, $c: $yellow);
      @include cursor();
      width: 70%;
      border: none;
      background-color: transparent;
      &:focus {
        border: none;
        outline: none;
      }
    }
    > textarea {
      resize: none;
      &:focus {
        border: 1px solid $yellow;
        resize: both;
      }
    }
  }
}

.error-placeholder::placeholder {
  color: $red;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $yellow !important;
  background-clip: text !important;
}

hr {
  border: 1px solid $yellow;
  width: 100%;
}

.checkbox-send-wrapper {
  @include d-flex($ai: none, $g: 6rem);
  flex-direction: column;
}

.checkbox-container {
  @include d-flex($jc: space-between, $ai: start, $g:1.5rem);
  flex-direction: column;
  height: 4rem;
}

.checkbox {
  @include d-flex($ai: start, $g: 0.8rem);
  @include writing($fs: 1rem, $fw: 400, $c: $white);
  > div a {
    color: $blue;
    &:hover {
      color: $yellow;
    }
  }
}

.checkbox-img {
  @include cursor();
  &:hover {
    filter: drop-shadow(0px 0px 7px white);
  }
}

.send-button {
  @include d-flex($jc: end);
  width: 100%;
  > button {
    @include button-white($w: 10rem, $bgc: transparent, $hc: $white);
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:disabled:hover {
        transform: none !important;
        border-width: 1px 5px 4px 1px;
        background-color: transparent;
      }
    }
  }
}

.form-animation {
  @include frame($p: none, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}


@media (max-width: 1100px) {
  .sticker-desktop {
    top: 0.7rem;
  }
}

@media (max-width: 940px) {
  .main {
    flex-direction: column;
    gap: 4rem;
    > div:nth-child(2) {
      width: 100%;
      }
    > div:nth-child(3) {
      width: 90%;
      }
    }

  .sticker-mobile {
    top: 4rem;
  }

  .send-button {
    gap: 2rem;
    > button:hover {
      transform: none !important;
      border-width: 1px 5px 4px 1px;
      background-color: transparent;
    }
  }

  svg.form-animation {
    width: 12.5rem;
    height: auto;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 7rem 1rem 0;
    > div:nth-child(3) {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .sticker-mobile {
    top: 3.5rem;
    left: 8.5rem;
  }

  .contact-me-wrapper {
    > div:nth-child(1)> span{
      font-size: 3rem !important;
    }
    > div:nth-child(2)> span {
      font-size: 1rem !important;
    }
  }

  .inputs-wrapper {
    > div > label {
      font-size: 1.1rem;
    } 
  }
}

@media (max-width: 500px) {
  .sticker-mobile {
    left: 6rem;
  }

  .send-button {
    gap: 1rem;
  }

  svg.form-animation {
    width: 9rem;
    height: auto;
  }
}

@media (max-width: 400px) {
  .sticker-mobile {
    top: 1rem;
    left: 2.5rem;
  }

  .inputs-wrapper {
    > div {
      > input, textarea {
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }
}