@import './../shared/style/colors.scss';
@import './../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100vw;
  height: 100vh;
  background-color: $black;
}

.intro-container.fade-out {
  transition: opacity 1s ease-out;
}

.text {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 20rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(
    180deg,
    hsl(231deg 74% 53%) 0%,
    hsl(231deg 70% 52%) 12%,
    hsl(231deg 66% 50%) 18%,
    hsl(231deg 65% 49%) 22%,
    hsl(231deg 64% 47%) 26%,
    hsl(231deg 64% 46%) 29%,
    hsl(231deg 64% 44%) 33%,
    hsl(231deg 64% 43%) 36%,
    hsl(231deg 64% 42%) 39%,
    hsl(231deg 63% 40%) 42%,
    hsl(231deg 63% 39%) 44%,
    hsl(231deg 63% 37%) 47%,
    hsl(231deg 63% 36%) 50%,
    hsl(231deg 63% 35%) 53%,
    hsl(231deg 62% 34%) 56%,
    hsl(231deg 62% 32%) 58%,
    hsl(231deg 62% 31%) 61%,
    hsl(231deg 62% 30%) 64%,
    hsl(231deg 62% 29%) 67%,
    hsl(231deg 62% 28%) 71%,
    hsl(231deg 62% 27%) 74%,
    hsl(231deg 62% 26%) 78%,
    hsl(231deg 62% 25%) 82%,
    hsl(231deg 62% 24%) 88%,
    hsl(232deg 62% 23%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textAnimation 3s ease 0s 1 normal forwards;
  overflow: hidden;
}

.glanz-textR::after,
.glanz-textP::after  {
  content: "R";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent 20%, #f7c718a9 50%, transparent 80%);
  filter: drop-shadow(7px 8px 11px #f7c718a2);
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  animation: shine 3.2s ease-out 3s 1 forwards;
}

.glanz-textP::after {
  content: "P";
}

.glanz-textP {
  position: relative;
  left: -2.1rem;
  bottom: -6.2rem;
}

.glanz-text.finished {
  background-image: linear-gradient(
    180deg,
    hsl(231deg 74% 53%) 0%,
    hsl(231deg 70% 52%) 12%,
    hsl(231deg 66% 50%) 18%,
    hsl(231deg 65% 49%) 22%,
    hsl(231deg 64% 47%) 26%,
    hsl(231deg 64% 46%) 29%,
    hsl(231deg 64% 44%) 33%,
    hsl(231deg 64% 43%) 36%,
    hsl(231deg 64% 42%) 39%,
    hsl(231deg 63% 40%) 42%,
    hsl(231deg 63% 39%) 44%,
    hsl(231deg 63% 37%) 47%,
    hsl(231deg 63% 36%) 50%,
    hsl(231deg 63% 35%) 53%,
    hsl(231deg 62% 34%) 56%,
    hsl(231deg 62% 32%) 58%,
    hsl(231deg 62% 31%) 61%,
    hsl(231deg 62% 30%) 64%,
    hsl(231deg 62% 29%) 67%,
    hsl(231deg 62% 28%) 71%,
    hsl(231deg 62% 27%) 74%,
    hsl(231deg 62% 26%) 78%,
    hsl(231deg 62% 25%) 82%,
    hsl(231deg 62% 24%) 88%,
    hsl(232deg 62% 23%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


@keyframes textAnimation {
  0% {
    transform: scale(0);
    // opacity: 0;
  }
  100% {
    transform: scale(1);
    // opacity: 1;
  }
}

@keyframes shine {
  0% {
    opacity: 1;
    background-position: -250% 0;
  }
  100% {
    opacity: 0;    
    background-position: 250% 0;
  }
}