@import './../shared/style/colors.scss';
@import './../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100vw;
  height: 100vh;
  background-color: $black;
}

.intro-container.fade-out {
  transition: opacity 1s ease-out;
}

.text {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 20rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: #3355FF;
  animation: textAnimation 3s ease 0s 1 normal forwards;
  overflow: hidden;
}

.glanz-textR::after,
.glanz-textP::after  {
  content: "R";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent 20%, #f7c718a9 50%, transparent 80%);
  filter: drop-shadow(7px 8px 11px #f7c718a2);
  background-size: 250% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  animation: shine 3.2s ease-out 3s 1 forwards;
}

.glanz-textP::after {
  content: "P";
}

.glanz-textP {
  position: relative;
  left: -2.1rem;
  bottom: -6.2rem;
}

.glanz-text.finished {
  color: #3355FF;
}


@keyframes textAnimation {
  0% {
    transform: scale(0);
    // opacity: 0;
  }
  100% {
    transform: scale(1);
    // opacity: 1;
  }
}

@keyframes shine {
  0% {
    opacity: 1;
    background-position: -250% 0;
  }
  100% {
    opacity: 0;    
    background-position: 250% 0;
  }
}