@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
}

.main {
  flex-direction: column;
  gap: 6rem;
  padding: 2rem 4rem;
}

.project-wrapper-top {
  @include d-flex($g: 3rem);
  > div {
    width: 50%;
  }
}

.project-wrapper-bottom {
  @include d-flex($ai: start, $g: 3rem);
  > div {
    width: 50%;
  }
}

.my-craft-text {
  @include d-flex($jc: none, $ai: none, $g: 3rem);
  flex-direction: column;
  > div {
    @include d-flex($jc: none, $ai: none, $g: 1rem);
    @include writing($fs: 1.1rem, $fw: 500, $c: $black);
    flex-direction: column;
  } 
}

.projects-text-wrapper {
  @include d-flex($jc: none, $ai: none, $g: 0.2rem);
  @include writing($fs: 4rem, $fw: 700, $c: $black);
  flex-direction: column;
}

.projects-text-animation {
  @include frame($p: none, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
}

.button-wrapper {
  position: relative;
  height: 100%;
  > div {
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-top-left-radius: 1.2rem;
  }
}

.button-wrapper::before {
  content: "";
  position: absolute;
  height: 2em;
  width: 2.4em;
  background-color: transparent;
  bottom: 3.4em;
  right: 0;
  box-shadow: 20px 13px 0 white;
  border-radius: 50%;
}

.button-wrapper::after {
  content: "";
  position: absolute;
  height: 2em;
  width: 2.4em;
  background-color: transparent;
  bottom: 0.25em;
  right: 12.6em;
  box-shadow: 15px 17px 0 white;
  border-radius: 50%;
}

.button-container {
  background-color: white;
  > button {
    @include button-white($bc: $black, $c: $black, $bgc: $white, $hbc: $black, $hc: $white);
  }
}

.project-title {
  @include writing($fs: 1.7rem, $fw: 700, $c: $black);
}

@media (max-width: 1100px) {
  .button-container {
    > button {
      width: 10rem;
      height: 2.5rem;
    }
  }

  .button-wrapper::before {
    bottom: 3.1em;
  }

  .button-wrapper::after {
    right: 10.6em;
  }
}

@media (max-width: 940px) {
  .project-wrapper-top {
    flex-direction: column;
    > div {
      width: 90%;
    }
  }

  .project-wrapper-bottom {
    align-items: center;
    flex-direction: column;
    > div {
      width: 90%;
    }
  }

  .button-container {
    > button {
      width: 13rem;
      height: 3.5rem;
      &:hover {
        color: $black;
        border-width: 1px 5px 4px 1px;
        background-color: transparent !important;
        transition: none !important;
        transform: none !important;
      }
    }
  }

  .button-wrapper::before {
    bottom: 4.1em;
  }

  .button-wrapper::after {
    right: 13.6em;
  }
}

@media (max-width: 700px) {
  .button-container {
    > button {
      width: 10rem;
      height: 2.5rem;
    }
  }

  .button-wrapper::before {
    bottom: 3.1em;
  }

  .button-wrapper::after {
    right: 10.6em;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 4rem 1rem;
  }

  .button-container {
    > button {
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .button-container {
    > button {
      font-size: 0.8rem;
      width: 8rem;
      height: 2rem;
    }
  }

  .button-wrapper {
    > div {
      border-top: 9px solid white;
      border-left: 14px solid white;
    }
  }

  .button-wrapper::before {
    bottom: 2.6em;
    z-index: 20;
  }

  .button-wrapper::after {
    right: 8.9em;
  }
}