@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100%;
}

.main {
  @include max-content();
  @include d-flex();
  padding: 4rem;
  > div {
    width: 50%;
  }
}

.yellow-paper {
  @include d-flex($g: 1rem);
  position: relative;
  top: 1.9rem;
  background-image: url('./../../../assets/project_images_icons/ripped_papers/about_me_paper/yellow.png');
  background-position: top;
  background-size: cover;
  width: 35rem;
  height: 10rem;
  transform: rotate(-2deg);
  > img {
    width: 2em;
    transform: rotate(-5deg);
  } > span {
    color: $white;
    transform: rotate(-5deg);
  }
}

.blue-paper {
  @include d-flex($g: 1rem);
  background-image: url('./../../../assets/project_images_icons/ripped_papers/about_me_paper/blue.png');
  background-position: top;
  background-size: cover;
  width: 35rem;
  height: 10rem;
  > img {
    width: 2em;
  } > span {
    color: $white;
  }
}

.about-me-wrapper {
  @include d-flex($ai: start, $g: 1.5rem);
  flex-direction: column;
  > p {
    @include writing($fs: 1.1rem, $fw: 500, $c: $black);
    margin: 0;
  } > span {
    @include writing($fs: 1.1rem, $fw: 400, $c: $black);
  }
}

.about-me {
  @include writing($fs: 4rem, $fw: 700, $c: $black);
  @include d-flex($jc: none, $ai: none);
  flex-direction: column;
  padding-bottom: 0.4em;
}

.about-me-animation {
  @include frame($p: none, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  animation: moveMask 2.5s infinite ease-in-out;
}

@keyframes moveMask {
  0% {
    @include frame-hover($mp: 0 0);
  }
  50% {
    @include frame-hover($mp: 100% 100%);
  }
  100% {
    @include frame-hover($mp: 0 0);
  }
}

.container-button {
  @include d-flex($jc: end, $ai: none, $g: 0rem);
  width: 100%;
  padding-top: 1em;
  > button {
    @include button-white($w: 8rem, $bw: 1px 5px 4px 1px,  $bc: $black, $c: $black, $bgc: $white, $hbc: $black, $hc: $white);
  }
}