@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100%;
}

.main {
  padding: 2rem 4rem;
  > div {
    @include d-flex();
    flex-direction: column;
    padding: 3rem;
    width: 50%;
  }
}

.paper {
  @include d-flex($g: 1rem);
  background-position: top;
  background-size: cover;
  width: 35rem;
  height: 10rem;
  > img {
    width: 2em;
  }
  > span {
    color: $white;
  }
}

.yellow {
  position: relative;
  top: 1.9rem;
  background-image: url('./../../../assets/project_images_icons/ripped_papers/about_me_paper/yellow.png');
  transform: rotate(-2deg);
  > img {
    transform: rotate(-5deg);
  } 
  > span {
    transform: rotate(-5deg);
  }
}

.blue {
  background-image: url('./../../../assets/project_images_icons/ripped_papers/about_me_paper/blue.png');
}

.about-me-wrapper {
  > p {
    @include writing($fs: 1.1rem, $fw: 500, $c: $black);
    margin: 0;
  } 
  > span {
    @include writing($fs: 1.1rem, $fw: 400, $c: $black);
  }
}

.about-me {
  @include writing($fs: 4rem, $fw: 700, $c: $black);
  @include d-flex($jc: none, $ai: none);
  flex-direction: column;
  padding-bottom: 0.4em;
}

.about-me-animation {
  @include frame($p: none, $md: right, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}

.container-button {
  @include d-flex($jc: end, $ai: none, $g: 0rem);
  width: 100%;
  padding-top: 1em;
  >a button {
    @include button-white($w: 9rem, $bw: 1px 5px 4px 1px,  $bc: $black, $c: $black, $bgc: $white, $hbc: $black, $hc: $white);
  }
}

@media(max-width: 1200px) {
  .paper {
    width: 25rem;
    height: 7rem;
  }
}

@media(max-width: 900px) {
  .main {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
    > div {
      width: 100%;
      padding: 0;
    }
  }

  .paper {
    width: 18rem;
    height: 5rem;
    > img {
      width: 1.5em;
    }
  }

  .yellow {
    top: 1.4rem;
  }
}