<section>
  <div class="content-wrapper">
    <div class="links-wrapper">
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/linkedin.png" alt="Linkedin">
      </a>
      <a href="https://github.com/RicardoP-19" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/github.png" alt="Github">
      </a>
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/mail.png" alt="Mail">
      </a>
    </div>
    <div class="content-inner-top">
      <div class="headine-top">
        <div class="hello-animation">Hello world</div>
        <div class="headine-text">
          @for (item of headlineText; track $index) {
            @for (letter of item.noHoverFrontend; track $index) {
              <p [ngClass]="{'text-color' : hoverIndexTop === $index}"  (mouseover)="mouseOverTop($index)" (mouseout)="mouseOutTop()">
                {{ hoverIndexTop === $index ? item.hoverFrontend[$index] : letter }}
              </p>
            }
          }
        </div>
      </div>
      <div class="polaroid">
        <div>
          <p>Ricardo</p>
          <span>:)</span>
          <span class="d-none">:D</span>
        </div>
        <img src="./../../../assets/project_images_icons/polaroid/polaroid.png" alt="">
        <img class="person-picture" src="./../../../assets/project_images_icons/polaroid/person.png" alt=""> 
      </div>
    </div>
    <div>
      <div class="headine-text">
        @for (item of headlineText; track $index) {
          @for (letter of item.noHoverDeveloper; track $index) {
            <p [ngClass]="{'text-color' : hoverIndexBottom === $index}" (mouseover)="mouseOverBottom($index)" (mouseout)="mouseOutBottom()">
              {{ hoverIndexBottom === $index ? item.hoverDeveloper[$index] : letter }}
            </p>
          }
        }
      </div>
      <div class="container-button">
        <button>Get in Touch</button>
      </div>
    </div>
  </div>
</section>