@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  background-image: url('./../../../assets/project_images_icons/background_images/background_top.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5rem;
}

.main {
  flex-direction: column;
  height: calc(100vh + 14rem);
}

.headline-wrapper {
  width: 53rem;
}

.headlin-content-top {
  @include d-flex($jc: none, $ai: none);
}

.headine-top {
  @include d-flex($jc: end, $ai: none, $g: 1rem);
  flex-direction: column;
  flex: 1;
}

.hello-image {
  position: relative;
  left: 6em;
}

.hello-content {
  @include d-flex($jc: center, $ai: center, $g: 0rem);
  @include writing($fs: 1.1rem, $fw: 500, $c: $white);
  width: 9.4rem;
  border: 1px $white solid;
  border-radius: 100px;
  padding: 0.3rem;
  background-image: url('./../../../assets/project_images_icons/icons/top_area/blue_stripe.svg');
  background-position: center;
  background-size: 100% 0%;
  transition: 0.5s ease-in-out;
  > span {
    position: absolute;
    transition: opacity 0.8s ease-in-out, visibility 0s linear 0.8s; //
  }
  > img {
    position: relative;
    left: 2.3em;
    bottom: 2.6em;
    opacity: 0;
    transform: translateX(0) rotate(0deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
  } &:hover {
    background-size: 100% 100%;
    width: 13rem;
    > img {
      opacity: 1;
      transform: translateX(100%) rotate(360deg);
    }
    .default-text {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s;
    }
    .hover-text {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.1s;
    }
  }
}

.default-text {
  opacity: 1;
  visibility: visible;
}

.hover-text {
  opacity: 0;
  visibility: hidden;
}

.headine-text {
  @include d-flex($jc: none, $ai: center, $g: 0.4rem);
  > p {
    margin: 0;
    @include writing($fs: 7rem, $fw: 700, $c: $white);
  }
}

.text-color {
  color: $yellow !important;
}

.polaroid {
  @include d-flex($jc: center, $ai: none, $g: 0rem);
  background-image: url('./../../../assets/project_images_icons/polaroid/polaroid.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13rem;
  height: 15rem;
  transform: rotate(10deg);
  > div {
    @include d-flex($jc: center, $ai: center, $g: 0.5em);
    @include writing($fs: 1.5rem, $fw: 700, $c: $black);
    font-family: 'Kalam-Bold';
    position: absolute;
    bottom: 0;
    > p {
      margin: 0;
    }
  }
  > img {
    position: absolute;
    top: 15px;
    width: 11rem;
    height: 11rem;
    object-fit: cover;
  }
}

.polaroid-desktop {
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
}

.polaroid-mobile {
  display: none;
}

.headline-content-bottom {
  @include d-flex();
  flex-direction: column;
  padding-top: 1.5rem;
}

.headine-bottom {
  @include d-flex($jc: end, $ai: none, $g: 0rem);
}

.container-button {
  @include d-flex($jc: end, $ai: none, $g: 0rem);
  width: 100%;
  padding-top: 1em;
  > a button {
    @include button-white($hc: $white);
  }
}

.links-wrapper {
  @include d-flex($ai: start);
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.link {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  > img {
    display: block;
    position: relative;
  } &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../assets/project_images_icons/icons/top_area/blue_circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.5s ease;
  } &:hover::before {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 940px) {
  .hello-content {
    background-size: 100% 100%;
    width: 13rem;
    > img {
      left: -3em;
      opacity: 1;
      transform: none !important;
    }
    .default-text {
      visibility: hidden;
    }
    .hover-text {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }

  .headline-wrapper {
    width: auto;
  }

  .container-button {
   > a button:hover {
    border-width: 1px 5px 4px 1px;
    background-color: transparent !important;
    transition: none !important;
    transform: none !important;
   }
  }

  .polaroid-desktop,
  .links-wrapper {
    display: none;
  }

  .polaroid-mobile {
    display: flex;
    margin-top: 4rem;
  }
}

@media (max-width: 730px) {
  .headine-text {
    gap: 0;
    > p {
      font-size: 6rem;
    }
  }
}

@media (max-width: 570px) {
  .headine-text {
    > p {
      font-size: 4.5rem;
    }
  }

  .container-button {
    > a button {
      @include button-white($w: 11rem, $h: 2.5rem, $fs: 1em, $hc: $white);
    }
  }
}

@media (max-width: 450px) {
  .headine-text {
    > p {
      font-size: 3.3rem;
    }
  }

  .polaroid {
    width: 13rem;
    height: 14rem;
    > img {
      top: 13px;
      width: 10rem;
      height: 10rem;
    }
  }
}

@media (max-width: 380px) {
  .headine-text {
    > p {
      font-size: 3rem;
    }
  }
}