<section>
  <div class="main">
    <div class="links-wrapper">
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/linkedin.png" alt="Linkedin">
      </a>
      <a href="https://github.com/RicardoP-19" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/github.png" alt="Github">
      </a>
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/mail.png" alt="Mail">
      </a>
    </div>
    <div [ngStyle]="{'flex': '1'}">
      <div class="content-inner-top">
        <div class="headine-top">
          <div class="hello-content">
            <span>{{ 'LANDING_PAGE.HELLO' | translate }}</span>
            <img src="./../../../assets/project_images_icons/icons/top_area/waving_hand.png" alt="Hand">
          </div>
          <div class="headine-text">
            @for (item of [headlineText.frontend]; track $index) {
              @for (letter of item.noHoverFrontend; track $index) {
                <p [ngClass]="{'text-color' : hoverIndexTop === $index}"  (mouseover)="mouseOverTop($index)" (mouseout)="mouseOutTop()">
                  {{ hoverIndexTop === $index ? item.hoverFrontend[$index] : letter }}
                </p>
              }
            }
          </div>
        </div>
        <div class="polaroid" (mouseover)="mouseOverPhoto()" (mouseout)="mouseOutPhoto()">
          <div>
            <p>Ricardo</p>
            <span [ngClass]="{'d-none': isHovered}">:)</span>
            <span [ngClass]="{'d-none': !isHovered}">:D</span>
          </div>
          <img src="./../../../assets/project_images_icons/polaroid/profil_image.png" alt="Profil-Image"> 
        </div>
      </div>
      <div>
        <div class="headine-text">
          @if (translate.currentLang == 'en') {
            @for (item of [headlineText.developerEn]; track $index) {
              @for (letter of item.noHoverDeveloper; track $index) {
                <p [ngClass]="{'text-color' : hoverIndexBottom === $index}" (mouseover)="mouseOverBottom($index)" (mouseout)="mouseOutBottom()">
                  {{ hoverIndexBottom === $index ? item.hoverDeveloper[$index] : letter }}
                </p>
              }
            }
          } @else if (translate.currentLang == 'de') {
            @for (item of [headlineText.developerDe]; track $index) {
              @for (letter of item.noHoverDeveloper; track $index) {
                <p [ngClass]="{'text-color' : hoverIndexBottom === $index}" (mouseover)="mouseOverBottom($index)" (mouseout)="mouseOutBottom()">
                  {{ hoverIndexBottom === $index ? item.hoverDeveloper[$index] : letter }}
                </p>
              }
            }
          }
        </div>
        <div class="container-button">
          <button>{{ 'LANDING_PAGE.BUTTON' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</section>