@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include dFlex();
  height: 100vh;
  background-image: url('./../../../assets/project_images_icons/background_images/background_top.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  @include dFlex();
  @include max-content();
  height: 100%;
}

.links-wrapper {
  @include dFlex($jc: end, $ai: none);
  flex-direction: column;
  position: relative;
  left: 3rem;
  bottom: 7rem;
  gap: 0.5rem;
  height: 100%;
}

.link {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  > img {
    display: block;
    position: relative;
  } &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../../assets/project_images_icons/icons/top_area/blue_circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.5s ease;
  } &:hover::before {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-inner-top {
  @include dFlex($jc: center, $ai: none, $g: 5rem);
}

.headine-top {
  @include dFlex($jc: center, $ai: none, $g: 1.5rem);
  flex-direction: column;
}

.hello-image {
  position: relative;
  left: 6em;
}

.hello-content {
  @include dFlex($jc: center, $ai: center, $g: 0rem);
  @include writing($fs: 1.1rem, $fw: 500, $c: $white);
  width: 9.4rem;
  border: 1px $white solid;
  border-radius: 100px;
  padding: 0.3rem;
  background-image: url('./../../../assets/project_images_icons/icons/top_area/blue_stripe.svg');
  background-position: center;
  background-size: 100% 0%;
  transition: 0.5s ease-in-out;
  > span {
    position: absolute;
  } > img {
    position: relative;
    left: 2.3em;
    bottom: 2.6em;
    opacity: 0;
    transform: translateX(0) rotate(0deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
  } &:hover {
    background-size: 100% 100%;
    width: 13rem;
    > img {
      opacity: 1;
      transform: translateX(100%) rotate(360deg);
    }
  }
}

@keyframes heartbeatFast {
  0%{
    transform: scale(0)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}

.headine-text {
  @include dFlex($jc: center, $ai: center, $g: 0.5rem);
  > p {
    margin: 0;
    @include writing($fs: 7rem, $fw: 700, $c: $white);
  }
}

.text-color {
  color: $yellow !important;
}

.polaroid {
  @include dFlex($jc: center, $ai: none, $g: 0rem);
  transform: rotate(10deg);
  margin-bottom: 3rem;
  >div {
    @include dFlex($jc: center, $ai: center, $g: 0.5em);
    @include writing($fs: 1.5rem, $fw: 700, $c: $black);
    font-family: 'Kalam-Bold';
    position: absolute;
    bottom: 0;
  } p {
    margin: 0;
  }
}

.person-picture {
  position: absolute;
  top: 15px;
}

.headine-bottom {
  @include dFlex($jc: end, $ai: none, $g: 0rem);
}

.container-button {
  @include dFlex($jc: end, $ai: none, $g: 0rem);
  width: 67%;
  padding-top: 1em;
  >button {
    @include button-white();
  }
}