<section>
  <div class="content-wrapper">
    <div class="links-wrapper">
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/linkedin.png" alt="Linkedin">
      </a>
      <a href="https://github.com/RicardoP-19" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/github.png" alt="Github">
      </a>
      <a href="#" target="_blank" class="link">
        <img src="./../../../assets/project_images_icons/icons/top_area/mail.png" alt="Mail">
      </a>
    </div>
    <div class="content-inner-top">
      <div class="headine-top">
        <div class="hello-animation">Hello world</div>
        <div>
          <span>F</span>
          <span>r</span>
          <span>o</span>
          <span>n</span>
          <span>t</span>
          <span>e</span>
          <span>n</span>
          <span>d</span>
        </div>
      </div>
      <div class="polaroid">
        <img src="./../../../assets/project_images_icons/polaroid/polaroid.png" alt="">
        <img class="person-picture" src="./../../../assets/project_images_icons/polaroid/person.png" alt=""> 
      </div>
    </div>
    <div>
      <div class="headine-bottom">
        <span>D</span>
        <span>E</span>
        <span>V</span>
        <span>E</span>
        <span>L</span>
        <span>O</span>
        <span>P</span>
        <span>E</span>
        <span>R</span>
      </div>
      <div class="container-button">
        <button>Get in Touch</button>
      </div>
    </div>
  </div>
</section>