@import url('./colors.scss');

@mixin max-content($mw: 1920px, $w: 100%) {
  max-width: $mw;
  width: $w;
}

@mixin cursor() {
  cursor: pointer;
}

@mixin dFlex($jc: center, $ai: center, $g: 0rem) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin writing ($fs: 1.1rem, $fw: 400, $c: $black) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin button-white($w: 12rem, $bw: 1px 5px 4px 1px,  $bc: $white, $c: $white, $bgc: $black, $ds: $white) {
  width: $w;
  height: 2.8rem;
  font-size: 1.3em;
  font-weight: 500;
  border-radius: 2rem;
  border-width: $bw;
  border-style: solid;
  border-color: $bc;
  color: $c;
  background-color: $bgc;
  transition: all ease 0.2s;
  cursor: pointer;
  
  &:hover {
    transform: translate(0.2rem, 0.3rem);
    border: 1px solid $white;
    background-color: $orange;
    filter: none;
  }
}

@mixin frame($md, $mv, $mt, $ms, $mp) {
  position: absolute;
  mask-image: linear-gradient(to $md, black 0%, black $mv, transparent $mt, transparent 100%);
  -webkit-mask-image: linear-gradient(to $md, black 0%, black $mv, transparent $mt, transparent 100%);
  mask-size: $ms;
  -webkit-mask-size: $ms;
  mask-position: $mp;
  -webkit-mask-position: $mp;
  transition: all 0.4s ease-out, -webkit-mask-position 0.4s ease-out;
  visibility: hidden;
}

@mixin frame-hover($mp){
  mask-position: $mp;
  -webkit-mask-position: $mp;
  visibility: visible;
}
