@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100%;
  height: 100vh;
  background-image: url('./../../../assets/project_images_icons/background_images/background-skills.png');
  background-position: bottom;
  background-size: cover;
}

.main {
  @include d-flex($ai: center, $g: 4rem);
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 4rem;
}

.skill-wrapper {
  @include d-flex($ai: end, $g: 6rem);
  @include writing($fs: 1.1rem, $fw: 400, $c: $white);
  width: 100%;
}

.my-stack-wrapper {
  width: 15%;
}

.my-stack {
  @include d-flex($jc: end);
  width: 100%;
  padding-bottom: 1rem
}

.skill {
  @include d-flex();
  width: 100%;
  > svg {
    position: absolute;
  } >span {
    @include writing($fs: 4rem, $fw: 700, $c: $white);
    position: relative;
  }
}

.skill-animation {
  @include frame($p: none, $md: left, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}

.skills-container {
  @include d-flex($jc: center);
  width: 100%;
}

.skill-text {
  @include d-flex();
  @include writing();
  width: 70%;
  min-height: 8em;
  padding: 1em;
  background-image: url('./../../../assets/project_images_icons/ripped_papers/skills/description_paper.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  > span {
    word-wrap: break-word;
  }
}

.skills-wrapper {
  @include d-flex($jc: start, $ai: center, $g: 3rem);
}

.skill-icons {
  @include d-flex($jc: center, $ai: center, $g: 3rem);
  flex-direction: column;
  > div {
    @include d-flex($jc: center, $ai: center, $g: 4rem);
    @include writing($c: $white);
  }
}

.skill-icon-name {
  @include d-flex($jc: center, $ai: center, $g: 0.7rem);
  flex-direction: column;
  > img {
    filter: grayscale(1);
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0);
      transform: scale(0.8);
    }
  }
  > p {
    text-align: center
  }
}

.sticker-wrapper {
  @include d-flex();
  transform: rotate(8deg) !important;
  width: 12.5em;
  height: 12.5em;
  cursor: pointer;
}

.sticker-top {
  @include d-flex();
  background-image: url('./../../../assets/project_images_icons/icons/sticker/Default.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  > div {
    @include d-flex();
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
  } > div span {
    @include writing($fs: 2rem, $fw: 400, $c: $white);
    font-family: 'Kalam-Regular';
    text-align: center;
  }
}

.animate {
  animation: sticker 0.5s ease-in-out forwards;
}

@keyframes sticker {
  0% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/Default.png');
  }
  50% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/transition.png');
  }
  100% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/Final.png');
  }
}

.sticker-bottom {
  @include d-flex($g: 0.8rem);
  flex-direction: column;
  background-image: url('./../../../assets/project_images_icons/icons/sticker/Final.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  > div span {
    @include d-flex();
    text-align: center;
    @include writing($fs: 1.1rem, $fw: 700, $c: $white);
  } > div {
    @include d-flex($g: 0.8rem);
  }
}