@import './../../shared/style/colors.scss';
@import './../../shared/style/mixins.scss';

section {
  @include d-flex();
  width: 100%;
  min-height: 100vh;
  background-image: url('./../../../assets/project_images_icons/background_images/background-skills.png');
  background-position: bottom;
  background-size: cover;
  padding: 1.5rem;
}

.main {
  @include d-flex($ai: center, $g: 4rem);
  flex-direction: column;
  flex-wrap: wrap;
}

.skill-headline-wrapper {
  @include d-flex($ai: end, $g: 6rem);
  @include writing($fs: 1.1rem, $fw: 400, $c: $white);
  width: 100%;
}

.my-stack-wrapper {
  width: 15%;
}

.my-stack {
  @include d-flex($jc: end);
  padding-bottom: 1rem
}

.skill {
  @include d-flex();
  width: 100%;
  > svg {
    position: absolute;
  } 
  > span {
    @include writing($fs: 4rem, $fw: 700, $c: $white);
    position: relative;
  }
}

.skill-animation {
  @include frame($p: none, $md: left, $mv: 50%, $mt: 51%, $ms: 300% 200%, $mp: 0 0, $v: visibility);
  @include animation();
}

.skill-text {
  @include d-flex();
  @include writing();
  width: 70%;
  min-height: 8em;
  padding: 1em;
  background-image: url('./../../../assets/project_images_icons/ripped_papers/skills/description_paper.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  > span {
    word-wrap: break-word;
  }
}

.skills-wrapper {
  @include d-flex($jc: center, $ai: center);
}

.skill-icons {
  @include d-flex($jc: end, $ai: none);
  > div {
    @include d-flex($jc: center, $ai: center, $g: 2rem);
    @include writing($c: $white);
    flex-wrap: wrap;
    width: 70%;
  }
}

.skill-icon-name {
  @include d-flex($jc: center, $ai: center, $g: 0.7rem);
  flex-direction: column;
  > img {
    filter: grayscale(1);
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0);
      transform: scale(0.8);
    }
  }
  > p {
    text-align: center
  }
}

.sticker-wrapper {
  @include d-flex();  
  @include cursor();
  transform: rotate(8deg) !important;
  width: 30em;
  height: 13em;
}

.sticker-top {
  @include d-flex();
  background-image: url('./../../../assets/project_images_icons/icons/sticker/Default.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  > div {
    @include d-flex();
    flex-direction: column;
    position: absolute;
    padding: 1rem;
  } 
  > div span {
    @include writing($fs: 2rem, $fw: 400, $c: $white);
    font-family: 'Kalam-Regular';
    text-align: center;
  }
}

.animate {
  animation: sticker 0.5s ease-in-out forwards;
}

@keyframes sticker {
  0% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/Default.png');
  }
  50% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/transition.png');
  }
  100% {
    background-image: url('./../../../assets/project_images_icons/icons/sticker/Final.png');
  }
}

.sticker-bottom {
  @include d-flex($g: 0.8rem);
  flex-direction: column;
  background-image: url('./../../../assets/project_images_icons/icons/sticker/Final.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  > div {
    @include d-flex($g: 0.8rem);
    width: 35%;
    span {
      @include d-flex();
      text-align: center;
      @include writing($fs: 1.1rem, $fw: 700, $c: $white);
    }
  }
}

@media (max-width: 940px) {
  .main {
    padding: 3rem 0rem;
  }

  .skill-headline-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .my-stack-wrapper {
    width: 100%;
  }

  .skill {
    justify-content: end;
    > span {
      padding-right: 5rem;
    }
  }

  .skill-icon-name {
    > img {
      filter: grayscale(0);
      transition: none !important;
      transform: none !important;    
    }
  }
}

@media (max-width: 740px) {
  .skills-wrapper {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }

  .skill-icons {
    justify-content: center;
    width: 100%;
    > div {
      gap: 1rem;
    }
  }

  .sticker-wrapper {
    width: 13rem;
  }
}

@media (max-width: 680px) {
  section {
    padding: 1rem;
  }
  .skill-text {
    width: 100%;
    font-size: 0.8rem;
    padding: 2em;
  }
}