<section>
  <div class="privacy-policy-wrapper">
    <div class="privacy-policy-content">
      <div>
        <a href="/">
          <img src="./../../assets/project_images_icons/icons/privacy_policy/close.png" alt="Close">
        </a>
      </div>
      <h1>{{ 'PRIVACYPOLICY.TITLE' | translate }}</h1>
      <h2>{{ 'PRIVACYPOLICY.NUMBER_ONE.TITLE' | translate }}</h2>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_ONE.GENERAL_NOTE' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.GENERAL_NOTE_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION' | translate }}</h3>
      <h4>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_RESPONSIBLE' | translate }}</h4>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_TEXT' | translate }}</p>
      <h4>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_DATA' | translate }}</h4>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_DATA_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_DATA_TEXT_SECOND' | translate }}</p>
      <h4>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_USE' | translate }}</h4>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_USE_TEXT' | translate }}</p>
      <h4>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_RIGHTS' | translate }}</h4>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_RIGHTS_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_ONE.DATA_COLLECTION_RIGHTS_TEXT_SECOND' | translate }}</p>
      <h2>{{ 'PRIVACYPOLICY.NUMBER_TWO.TITLE' | translate }}</h2>
      <p>{{ 'PRIVACYPOLICY.NUMBER_TWO.TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_TWO.ALL_INKL' | translate }}</h3>
      <p>
        {{ 'PRIVACYPOLICY.NUMBER_TWO.ALL_INKL_TEXT' | translate }}
        <a [ngStyle]="{'color' : 'blue'}"
          href="https://all-inkl.com/datenschutzinformationen/"
          target="_blank"
          rel="noopener noreferrer"
          >https://all-inkl.com/datenschutzinformationen/</a
        >.
      </p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_TWO.ALL_INKL_TEXT_SECOND' | translate }}</p>    
      <h2>{{ 'PRIVACYPOLICY.NUMBER_THREE.TITLE' | translate }}</h2>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.PRIVACY_POLICY' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PRIVACY_POLICY_TEXT_TOP' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PRIVACY_POLICY_TEXT_CENTER' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PRIVACY_POLICY_TEXT_BOTTOM' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_TEXT' | translate }}</p>
      <br>
      <span>
        <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_PERSON' | translate }}</p>
        <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_ADDRESS' | translate }}</p>
        <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_PLACE' | translate }}</p>
      </span>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_EMAIL' | translate }}</p>
      <br>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.ORGANISATION_TEXT_BOTTOM' | translate }}</p>    
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.STORAGE_TIME' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.STORAGE_TIME_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.GENERAL_INFO' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.GENERAL_INFO_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.PERSONAL_DATA' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PERSONAL_DATA_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.DATA_PROCESSING' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.DATA_PROCESSING_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.OPPOSITION' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.OPPOSITION_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.OPPOSITION_TEXT_BOTTOM' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.COMPLAINT' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.COMPLAINT_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.DATA_PORTABILITY' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.DATA_PORTABILITY_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.INFORMATION' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.INFORMATION_TEXT' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_TEXT' | translate }}</p>
      <ul>
        <li>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_LIST_1' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_LIST_2' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_LIST_3' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_LIST_4' | translate }}</li>
      </ul>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.PROCESSING_TEXT_BOTTOM' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_THREE.SSL' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.SSL_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_THREE.SSL_TEXT_BOTTOM' | translate }}</p>
      <h2>{{ 'PRIVACYPOLICY.NUMBER_FOUR.TITLE' | translate }}</h2>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_FOUR.CONTACT_FORM' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.CONTACT_FORM_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.CONTACT_FORM_TEXT_CENTER' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.CONTACT_FORM_TEXT_BOTTOM' | translate }}</p>
      <h3>{{ 'PRIVACYPOLICY.NUMBER_FOUR.REQUEST' | translate }}</h3>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.REQUEST_TEXT' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.REQUEST_TEXT_CENTER' | translate }}</p>
      <p>{{ 'PRIVACYPOLICY.NUMBER_FOUR.REQUEST_TEXT_BOTTOM' | translate }}</p>
      <p>
        {{ 'PRIVACYPOLICY.NUMBER_FOUR.REQUEST_LINK' | translate }} <a [ngStyle]="{'color' : 'blue'}" href="https://www.e-recht24.de">https://www.e-recht24.de</a>
      </p>
    </div>
  </div>
  <div class="privacy-policy-image"></div>
</section>
