@import './../shared/style/mixins.scss';

::-webkit-scrollbar {
  display: none;
}

section {
  position: fixed;
  @include d-flex();
  width: 100%;
  overflow-x: hidden;
}

.main {
  flex-direction: column;
  max-width: none;
  height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  background-image: url('./../../assets/project_images_icons/background_images/background_top.png');
  background-position: bottom;
  background-size: cover;
}

.privacy-policy-wrapper {
  @include d-flex();
  width: 90%;
  height: 100%;
  overflow-y: scroll;
}

.privacy-policy-content {
  overflow-y: scroll;
  max-width: 100%;
  height: 65%;
  overflow-x: hidden;
}

.privacy-policy-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-image: url('./../../assets/project_images_icons/background_images/background_bottom_small.png');
  background-position: top;
  background-size: cover;
}