<section>
  <div class="main">
    <div class="header"></div>
    <div class="provider-content">
        <h1>{{ 'LEGAL_NOTICE.TITLE' | translate }}</h1>
        <h2 [ngStyle]="{ color: '#F87A55' }">{{ 'LEGAL_NOTICE.PROVIDER' | translate }}</h2>
        <p>Ricardo Pinto</p>
        <p>Merowinger Str.25</p>
        <p>85435 Erding</p>

        <h2 id="m56">{{ 'LEGAL_NOTICE.CONTACT' | translate }}</h2>
        <p>
          {{ 'LEGAL_NOTICE.MAIL' | translate }}
          <a href="#contact" [ngStyle]="{ color: '#3355FF' }">ricardo-pinto&#64;web.de</a>
        </p>
    </div>
    <div class="footer-image"></div>
  </div>
</section>
