@import './app/shared/style/mixins.scss';
@import './app/shared/style/colors.scss';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'BricolageGrotesque-VariableFont';
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

p {
  margin: 0;
}

.main {
  @include max-content();
  @include d-flex();
}

.d-none {
  display: none !important;
}

@font-face {
  font-family: 'BricolageGrotesque-VariableFont';
  src: url('assets/fonts/BricolageGrotesque-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Bold';
  src: url('assets/fonts/Kalam-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Light';
  src: url('assets/fonts/Kalam-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Regular';
  src: url('assets/fonts/Kalam-Regular.ttf') format('truetype');
}

body {
  --sb-track-color: #121212;
  --sb-thumb-color: #F8F9FA;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 18px;
  border: 1px solid #000000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 18px;
  border: 1px solid #000000;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}