@import './app/shared/style/mixins.scss';
@import './app/shared/style/colors.scss';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'BricolageGrotesque-VariableFont';
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

p {
  margin: 0;
}

.main {
  @include max-content();
  @include d-flex();
}

.d-none {
  display: none !important;
}

@font-face {
  font-family: 'BricolageGrotesque-VariableFont';
  src: url('assets/fonts/BricolageGrotesque-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Bold';
  src: url('assets/fonts/Kalam-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Light';
  src: url('assets/fonts/Kalam-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam-Regular';
  src: url('assets/fonts/Kalam-Regular.ttf') format('truetype');
}